body{
  background-color: #FFFFFF;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: space-between;
}

h3{
  text-align: center;
}

#container1{
  height: 100%;
  width: 35%;
  margin: 10%;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

img{
  height: 100px;
  width: 100px;
}

#container2{
  height: 100%;
  width: 25%;
  margin-top: 3%;
  margin-right: 3%;
  /* display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "box1 box2"
    "box3 box4"
    "box5 box6"
    "box7 box8"
    "box9 box10" */
}

/* #pu1{
  grid-area: box1;
}

#count1{
  grid-area: box2;
}

#pu2{
  grid-area: box3;
}

#count2{
  grid-area: box3;
}

#pu3{
  grid-area: box5;
}

#count3{
  grid-area: box6;
}

#pu4{
  grid-area: box7;
}

#count4{
  grid-area: box8;
}

#pu5{
  grid-area: box9;
}

#count5{
  grid-area: box10;
} */

#powerups{
  display: flex;
  flex-direction: column;
  text-align: center;
}

#container3{
  height: 100%;
  width: 50%;
}

#powerInfo{
  display: flex;
  flex-direction: column;
  text-indent: 5em;
  margin: 3px;
  padding: 5px;
}

#container4{
  height: 100%;
  width: 25%;
}
